@font-face{font-family:'Jeopardy UI';src:url('assets/presentation/gui/19_ITC Franklin Gothic MedCd.woff') format('woff');font-display:swap}
@font-face{font-family:'Jeopardy Category';src:url('assets/presentation/tileboard/37_Swiss921 BT.woff') format('woff');font-display:swap}
@font-face{font-family:'Jeopardy Podium';src:url('assets/presentation/podiums/28_Swiss911 UCm BT.woff') format('woff');font-display:swap}
@font-face{font-family:'Jeopardy Score';src:url('assets/presentation/tileboard/15_Swiss911 UCm BT.woff') format('woff');font-display:swap}
@font-face{font-family:'Jeopardy Clue';src:url('assets/presentation/cluecard/2_Korinna.woff') format('woff');font-display:swap}
@font-face{font-family:'Jeopardy Name';src:url('assets/presentation/podiums/4_Zipty Do.woff') format('woff');font-display:swap}
